
.game{
height:100px;
    display: flex;
    justify-content: center;

}

.height{

    height:100px;
display: flex;
justify-content: center;

}
.row1{
   
}

.tab1{
    display: flex;
    justify-content: center;
}

.table1{

    margin: 20px auto;
    border-radius: 10px;
    color: white;
}

td{
    width:100px;
    height: 100px;
   background: rgb(187, 186, 186);
   font-size: 40px;
   text-align: center;
   border-radius: 10px ;
}